- content_for(:title, @space.name)
= render 'shared/space_nav'

.container
  %main.setting
    %section
      %h2.title= t('space_setting_members_title')
      %p.description= t('space_setting_members_description')
      %table.table
        %tbody
          - @space.permitted_users.each do |permitted_user|
            %tr
              %td
                = permitted_user.email

      = form_tag permissions_path, method: :post do |f|
        = label_tag 'Email'
        = email_field_tag :email, nil, placeholder: 'email', class: 'form-control input'
        = submit_tag t('space_setting_members_submit'), class: 'btn btn-primary btn-lg btn-block'

    %section
      %h2 Visibility

      = form_for @space, url: space_path(@space.name), method: :put do |f|
        .form-check
          %label.form-check-label
            = f.radio_button :visibility, :private, checked: @space.visibility == 'private'
            Private (default) - Only members can see this space and edit the settings.

        .form-check
          %label.form-check-label
            = f.radio_button :visibility, :public, checked: @space.visibility == 'public'
            Public - Anyone can see this space. Only members can edit the settings.

        = f.submit 'Update', class: 'btn btn-primary btn-lg btn-block'

    %section
      %h2.title Slack notification

      - setting = @space.space_setting || @space.build_space_setting
      = form_for setting, url: setting_path(@space.name), method: :put do |f|
        = f.label 'incoming webhook url'
        = f.text_field :slack_incoming_webhook_url, class: 'form-control input'

        = f.submit 'Update', class: 'btn btn-primary btn-lg btn-block'

    %section
      %h2.title Devices
      %p You can create new device and get a device token to upload photos.

      - if @devices.present?
        %table.table
          %thead
            %tr
              %th id
              %th token

          %tbody
            - @devices.each do |device|
              %tr
                %td
                  = device.id
                %td
                  = device.token
      - else
        %p no device

      = form_for Device.new, url: devices_path(@space.name) do |f|
        = f.submit 'Create new device', class: 'btn btn-primary btn-lg btn-block'
