= render 'shared/space_nav'

%main.container
  %section.container
    %h1 face
    .row
      - @recent_face_images.each do |image|
        - image_url = image.s3_object.presigned_url(:get)
        .col-6
          = link_to image_tag(image_url, class: 'grid-image'), image_url
          %p= image.timestamp.strftime('%Y/%m/%d %H:%M:%S')


  %section.container
    %h1 all

    .row
      - @images.each do |image|
        - image_url = image.s3_object.presigned_url(:get)
        .col-6
          = link_to image_tag(image_url, class: 'grid-image'), image_url
          %p= image.timestamp.strftime('%Y/%m/%d %H:%M:%S')
