- content_for(:title, @space.name)

= render 'shared/space_nav'

%main.container
  - if @recent_face_images.present?
    %section.container
      %h1 face
      .row
        - @recent_face_images.each do |image|
          - image_url = image.url
          .col-6
            = link_to image_tag(image_url, class: 'grid-image'), image_url
            %p= image.timestamp.strftime('%Y/%m/%d %H:%M:%S')
            - if params[:debug]
              %pre= JSON.pretty_generate(JSON.parse(image.image_metadata.first.value))


  %section.container
    %h1 all

    .row
      - @images.each do |image|
        - image_url = image.url
        .col-6
          = link_to image_tag(image_url, class: 'grid-image'), image_url
          %p= image.timestamp.strftime('%Y/%m/%d %H:%M:%S')
